name: anki_clone
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  connectivity_plus: ^7.0.0
  flutter:
    sdk: flutter
  path: ^1.9.1
  sqflite: ^2.4.2
  supabase_flutter: ^2.12.0
  uuid: ^4.5.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
